{% extends 'layout/base.html' %}
{% set pageTitle = 'Incentro CV Jeroen Diks' %}

{% block bodyContent %}
    <div class="container">
		<div class="header">
			<img src="./../../asset/image/Jeroen-PF.jpg" alt="" class="img-circle">
			<ul class="list-items">
				<li class="nav-circle"><a href="#">About</a></li>
				<li class="nav-circle"><a href="#">Work</a></li>
				<li class="nav-circle"><a href="#">Skills</a></li>
				<li class="nav-circle"><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="info-wrapper">
			<article class="about-info">
				<p>Dit is een stukje over mijzelf</p>
			</article>
			<article class="work-info">
				<p>Dit is een stukje over mijn werkervaring</p>
			</article>
			<article class="skills-info">
				<p>Dit is een stukje over mijn vaardigheden</p>
			</article>
			<article class="contact-info">
				<p>Dit is een contactmogelijkheid</p>
			</article>
		</div>
	</div>
{% endblock %}
